.all {
    font-size: 22px;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    background-image: url("../../img/searchUsers2.png")
}

.email-search-btn{
    color: #003049;
    margin-left: auto;
    margin-right: auto;
}

.user-search-text{
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}

.email-search{
    margin-top: 20px;
    color: #003049;
    margin-left: auto;
    margin-right: auto;
}

.friend-results{
    color: #003049;
    font-size: 25px;
}

.begin-btn{
    margin-left: auto;
    margin-right: auto;
}
