@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body{
    font-family: 'DM Serif Display', serif; 
}

.all {
    height: 90vh;
    width: 90vw;
}

.search-users-image {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 90vh;
    
}

.all{
    margin-left: 55vh;
    font-size: 22px;
}

.email-search-btn{
    color: #003049;
    margin-left: 40px;
}

.user-search-text{
    font-size: 35px; 
    font-family: 'Source Code Pro', monospace;
}

.email-search{
    margin-top: 20px;
    color: #003049;
    margin-left: 30px;
    font-family: 'Source Code Pro', monospace;
}

.friend-results{
    color: #003049;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
}

.begin-btn{
    margin-left: 340px;
}
