ul {
    list-style-type: none;
}

.form-check{
   margin-left: auto !important;
   margin-right: auto !important;
   font-size: 20px;  
}

.platform-image {
    background-repeat: no-repeat;
    height: 87vh;
    background-size: cover;
    background-position: center;
}

.submitPlatform{
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-check-label{
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-check-input{
    margin-top: 10px !important;
}