ul {
    list-style-type: none;
}

.form-check{
   margin-left: 500px;
   font-size:x-large;
}

.platform-image{
    min-height: 100%;
    height: 93vh;
    /* width: 100vw; */
    background-size: cover;
    background-position: top;
    position: relative;
}

.platform-text{
    font-size: 45px;
}
