.userProfDiv {
    background-image: url("../../img/userProfile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#otherUserName {
    text-decoration: underline;
    font-weight: bold;
}

#otherUserName:hover {
    cursor: pointer;
}