@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body{
    font-family: 'DM Serif Display', serif;
}

.userProfDiv {
    background-image: url("../../img/userProfile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

#otherUserName {
    text-decoration: underline;
    font-weight: bold;
}

#otherUserName:hover {
    cursor: pointer;
}

