@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap'); /*Input text font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap'); /*Header text font*/

.footer {
    background-color: #EAE2B7;
    color: #D62828;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 34px;
    margin-bottom: 2px;
    font-family: 'DM Serif Display', serif;
}

p{
    font-size: 18px !important;
}

.heart{color:#D62828;}