.footer {
    background-color: #EAE2B7;
    color: #D62828;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 34px;
    margin-bottom: 2px;
}

p{
    font-size: 18px !important;
}

.heart{color:#D62828;}