@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap'); /*Input text font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap'); /*Header text font*/

.landing-center {
    display: flex;
    justify-content: center;
    height: 100vh;

}
 .landing-btn{
    margin-bottom: 40px;
     margin-left: 120px;
     font-size: 33px !important;
     background-color: #003049 !important;
     font-family: 'Source Code Pro', monospace;
 }

.landing-text{
    margin-top: 1.2%;
    color: #D62828;
    font-family: 'Source Code Pro', monospace;  
}
.weWatch{
    font-size: 100px !important;
    font-weight: bold !important;
    font-family: 'DM Serif Display', serif; 
}
.share{
     font-size: 40px !important;
     font-weight: bolder !important;
     font-family: 'Source Code Pro', monospace;
 }

 @media screen and (max-width: 800px) {
     .weWatch {
         font-size: 70px !important;
     }
     .share {
         font-size: 35px i !important;
     }
     
 }

.landing-image{
    height: 105vh;
    background-size: cover;
    background-position: top;
}