/* .btn {
    height: 20x;
    position: relative;
} */

.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 700px;

    /* margin: 0;
    position: absolute;
    /* top: 40%;
    left: 40%; */ 
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}
 .btn{
     margin-top: 10px;
     margin-left: 120px;
     font-size: 33px !important;
 }

.text{
    color: #D62828;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* background-color: rgba(234, 226, 0, 0.15); */
    
}
h1{
    font-size: 100px !important;
    font-weight: bold !important;
}
 h4{
     font-size: 40px !important;
     font-weight: bolder !important;
 }
/* 
.image{
    height: 100%;
    background-size:center;
} */

.center-align{
    background-color: rgba(234, 226, 0, 0.05);
}