.addBtn{
    margin-left: 2%;
    color: #003049; 
}

.watchingAll{
    background-image: url('../../img/watching.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    margin-left: auto !important;
    margin-right: auto !important;
}

.watching-text{
    color: #003049;
    text-align: center;
    font-size: 45px !important;
}


.watching-search{
    background-color: #ffffff;
    color: #003049;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px; 
    font-size: 20px;
    display: block;
}

.watching-search-btn{
    align-items: center;
    justify-content: center;
    display:block;
    background-color: #ffffff;
    color: #003049;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

.watching-results{
    background-color: rgba(234, 226, 183, 0.8);
    color: #003049;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
}

.next-btn{
    color: #003049; 
    font-size: 23px;
}

.add-text{
    font-size: 23px !important;
    margin-left: auto;
    margin-right: auto;
}