@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #F77F00;
    color: white;
    font-family: 'Poppins';
    padding: 40px;
    text-align: center;
}
.addBtn{
    margin-left: 2%;
}