.addBtn{
    margin-left: 2%;
}

.watchingAll{
    background-image: url('../../img/watching.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    background-size:100%;
}

.watching-text{
    color: #003049;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
}

@media screen and (min-width:600px) {
    .watching-text {
        text-align: center;
    }
    .watchingAll{
        width:auto;
        height:auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

@media screen and (min-width:360px) {
    .watching-text {
        text-align: center;
    }
    .watchingAll{
        width:auto;
        height:auto;
        background-position: center;
        background-repeat: no-repeat;
    
    }
    
}

.watching-search{
    background-color: #ffffff;
    color: #003049;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px; 
    font-size: 20px;
    display: block;
}

.watching-search-btn{
    align-items: center;
    justify-content: center;
    display:block;
    background-color: #ffffff;
    color: #003049;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.watching-results{
    background-color: rgba(234, 226, 183, 0.8);
    color: #003049;
    font-size: 23px;
}

.addBtn{
    color: #003049; 
}

.next-btn{
    color: #003049; 
    font-size: 23px;
}

.add-text{
    font-size: 23px !important;
}