
.login-image {
    background-size: cover;
    background-image: url("../../img/login.png");
    background-repeat: no-repeat;
    height: 80vh;
}

.login-container{
    margin-left: auto;
    margin-right: auto;
    
}

.login-btn {
    color: #003049;
    font-size: 28px;
}

.login-form{
    margin-left: auto;
    margin-right: auto;
}

.login-info{
    color: #D62828;
    background-color: #003049;
    font-size: 20px;
}
 
.login-account{
    color: #003049;
    font-size:25px !important;
}
.login-below{
    color: #003049;
    font-size:30px !important;
    margin-right: auto;
    margin-left: auto;

}

.login-home-btn{
    color: #003049;
    font-size: 35px;
}

.register-link{
    margin-left: auto;
    margin-right: auto;
}

.login-account{
    color: #D62828;
}

.register{
    color: #003049;
    margin-left: auto;
    margin-right: auto;
}