@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap'); /*Input text font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap'); /*Header text font*/

.register-row  {
    margin-left: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #D62828;
    font-size: 35px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; */
    font-family: 'DM Serif Display', serif;
}

.register {
    color: #D62828;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'DM Serif Display', serif;
   
}


.btn-info {
    color:  #003049;
    margin-left: 50%;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}

.btn {
    color: #003049 !important;  
    background-color:  #D62828 !important;
    font-family: 'Source Code Pro', monospace;
}

.register-image {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 93vh;
    
}

.register-btn{
    color: #003049;
    background-color: white;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}

.err {
    text-align: center;
    color: white;
}

.register-form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    font-family: 'DM Serif Display', serif;
}
