.register-row  {
    margin-left: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #D62828;
    font-size: 23px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; */
}

.register {
    color: #D62828;
   display: flex;
   justify-content: center;
   align-items: center;
   
}


.btn-info {
    color:  #003049;
    margin-left: 50%;
    font-size: 30px;
}

.btn {
    color: #003049 !important;  
    background-color:  #D62828 !important;

}

.register-image {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 93vh;
    
}

.register-btn{
    color: #003049;
    background-color: white;
    font-size: 30px;
}

.err {
    text-align: center;
    color: white;
}

.register-form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
